openapi: 3.0.3
info:
  title: WorkWell Technologies API (uAttend) Punch Reports Users API
  description: The WorkWell Technologies API allows you to programmatically retrieve employee, timecard, and punch data from your uAttend account. All endpoints use HTTPS and are authenticated via an API key passed in the x-api-key request header. API keys are account-scoped — they grant access to all data within your uAttend account. Request bodies are JSON objects; even when no parameters are needed, pass an empty JSON object. This OpenAPI was generated by API Evangelist from the provider's published API documentation (https://uattend.zendesk.com/hc/en-us/articles/48783008798875-uAttend-API); the provider does not publish a machine-readable spec.
  version: 1.0.0
  contact:
    name: WorkWell Technologies Support
    url: https://uattend.zendesk.com/hc/en-us
  x-apievangelist:
    generated: '2026-07-21'
    method: generated
    source: https://uattend.zendesk.com/hc/en-us/articles/48783008798875-uAttend-API
servers:
- url: https://api.workwelltech.com
security:
- ApiKeyAuth: []
tags:
- name: Users
  description: User records for the uAttend account
paths:
  /user:
    post:
      operationId: getUsers
      summary: Retrieve user records for the account
      description: Returns user records for your uAttend account. By default, all users are returned. Use the optional request body parameters to filter by user ID, name, or payroll number. Pass an empty JSON object to return all users.
      tags:
      - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetUsersRequest'
            examples:
              allUsers:
                summary: All users
                value: {}
              singleUser:
                summary: Single user
                value:
                  UserId: 12345
      responses:
        '200':
          description: User records for the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  responses:
    Forbidden:
      description: Forbidden — an AWS identity-based policy is blocking the request (IP/network restriction), the key lacks permission for the resource, or the endpoint URL is incorrect (Missing Authentication Token).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Too Many Requests — rate limit exceeded. Slow down request frequency and implement retry logic with exponential backoff.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized — the x-api-key header is missing or the key value is incorrect.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad Request — malformed JSON in the request body, or a required field is missing.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not Found — the endpoint URL is incorrect. Verify the path matches exactly /user, /timecards, or /reports/punch.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Internal Server Error — an unexpected server-side error occurred. If this persists, contact WorkWell Technologies support with your request details and timestamp.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    GetUsersResponse:
      type: object
      properties:
        Users:
          type: array
          description: User records; each element represents one user.
          items:
            $ref: '#/components/schemas/User'
    User:
      type: object
      description: A uAttend user record. The /user endpoint returns the core fields by default; the full internal schema (snake_case fields) is documented in the provider's appendix and included here for reference.
      properties:
        UserId:
          type: number
          description: Unique numeric identifier for the user.
        FirstName:
          type: string
          description: First name.
        LastName:
          type: string
          description: Last name.
        Role:
          type: string
          description: 'Role: Admin, Supervisor, or Employee.'
        DepartmentId:
          type: number
          description: Numeric ID of the user's home department.
        IsActive:
          type: boolean
          description: true if the user is currently active.
        Email:
          type: string
          description: Email address.
        PayrollNumber:
          type: string
          description: Payroll number (if configured).
        PhoneNumber:
          type: string
          description: Phone number (if configured).
        EmployeeReferenceID:
          type: string
          description: Custom employee reference ID.
        EmployeeReferenceNote:
          type: string
          description: Notes associated with the employee reference.
    GetUsersRequest:
      type: object
      description: All parameters are optional. Omit them or pass {} to return all users.
      properties:
        UserId:
          type: integer
          description: Filter to a specific user by their numeric ID.
        Name:
          type: string
          description: Filter by partial or full name match.
        PayrollNumber:
          type: string
          description: Filter by payroll number.
    Error:
      type: object
      description: 'AWS API Gateway style error envelope, e.g. {"message": "Unauthorized"}.'
      properties:
        message:
          type: string
          description: Human-readable error message.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Account-scoped API key provided by WorkWell Technologies support. Keys grant access to all data within your uAttend account and are active immediately upon issuance. To request a key, contact support with the system you are integrating, how you plan to use the data, and how often you plan to make requests. The API Gateway may additionally enforce IP-based access policies at the infrastructure level.
